body {
  color: #40514E;
  margin: 0;
  align-content: center;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  line-height: normal;
  font-size: 5.625rem;
  margin: 0px auto auto 0;
  position: relative;
  top: 40px;
  font-family: 'Sacramento', cursive;
  margin-top: 50px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {}

.pro {
  text-decoration: underline;
}

.profile {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 183px;
  top: 280px;
}

.bottom-cloud {
  position: absolute;
  top: 651px;
  right: 1233px;
}

.we {
  position: relative;
  top: 70px;
  margin: 0px auto 0 auto;
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row-i {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: normal;
}

.skill-row-2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: normal;
}

.lo {
  width: 35%;
  float: left;
  margin-right: 30px
}

.bo {
  float: right;
  width: 35%;
  margin-right: 30px
}

.oper {
  position: relative;
  top: 100px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.h {
  color: #EAF6F6;
}

hr {
  border-style: dotted none none;
  border-color: #40514E;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

.poo-poo {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px, 0;
}

.pee-pee {
  width: 30%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 10;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.op {
  background-color: #66BFBF
}
